{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
           
            {% if user.is_authenticated %}
                <a class="btn pull-right" href="{% url 'post_edit' pk=post.pk %}" align = "right">
                        <span class="glyphicon glyphicon-pencil glyphicon-small">
                        </span>
                </a> 
                
                 <a class="btn pull-right" href="{% url 'post_remove' pk=post.pk %}" align = "right">
                    <span class="glyphicon glyphicon-trash glyphicon-small">
                    </span>
                </a>  
            {% endif %}
            
            <h1>{{ post.title }}
            </h1>
            <h2>{{ post.text|linebreaks }}</h2>
            <h3>created: {{ post.created_date|date:'d-m-Y' }}
            </h3>
            {% if not post.published_date %}
                <a class="btn btn-default pull-right" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish
                </a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}