
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    
        <div class="post">
            <a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none">  
            <div class="link">            
            <h1>
               {{ post.title }}:
            </h1>
            </div>
            </a>
            
            <h2>
                {{ post.text|linebreaks }}
            </h2>
            
            {% if post.published_date %}
                <h3>
                    published: {{ post.published_date }}
                </h3>
            {% endif %}
            
        </div>   

        <div class = "divider"></div>                
        
    {% endfor %}
    
{% endblock %}